/**
 * Functions
 */
@font-face {
  font-family: "Gotham";
  src: url(/fonts/gotham400i.woff2?5148f01d4d648a6c1fa5de17355264a3) format("woff2"), url(/fonts/gotham400i.woff?cf1dc6c7850b919ce0b221add070f923) format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url(/fonts/gotham400.woff2?d2b1aa166f90cb23dd7a509c39c15568) format("woff2"), url(/fonts/gotham400.woff?fdff8215f8586e3e0643f9062b724096) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url(/fonts/gotham300i.woff2?75808f501f6c6062e33a15379f2c7ad1) format("woff2"), url(/fonts/gotham300i.woff?328a5e6f37014fefe1acd7145ff203d5) format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url(/fonts/gotham300.woff2?975360b291cb9370f526fbbddf38f4e9) format("woff2"), url(/fonts/gotham300.woff?6244961dfa141347596cce177bdcb93b) format("woff");
  font-weight: normal;
  font-style: normal;
}
.gotham {
  font-family: "Gotham", Helvetica, Arial, sans-serif;
}

/* Yellows */
/* Blues */
/* Greens */
/* Blue/Greens */
/* Reds */
/* Purples */
/* Grey */
/* Theme */
/* UI */
/*
** MSU DOM Objects
*/
/* Components */
/*
** Bootstrap Overides/Variables
** If you wanna changes how things look, do it here.
*/
[data-breadcrumb] {
  top: 0;
  z-index: 1;
  padding: 1rem 1.25rem;
}
[data-breadcrumb] h1, [data-breadcrumb] h2, [data-breadcrumb] h3 {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  color: rgba(24, 69, 59, 0.6);
  white-space: nowrap;
}
[data-breadcrumb] h1 > span,
[data-breadcrumb] h1 a:nth-of-type(n+2) span, [data-breadcrumb] h2 > span,
[data-breadcrumb] h2 a:nth-of-type(n+2) span, [data-breadcrumb] h3 > span,
[data-breadcrumb] h3 a:nth-of-type(n+2) span {
  font-weight: 600;
}
[data-breadcrumb] h1 > span:before,
[data-breadcrumb] h1 a:nth-of-type(n+2) span:before, [data-breadcrumb] h2 > span:before,
[data-breadcrumb] h2 a:nth-of-type(n+2) span:before, [data-breadcrumb] h3 > span:before,
[data-breadcrumb] h3 a:nth-of-type(n+2) span:before {
  content: "/";
  margin-right: 0.9375rem;
  margin-left: 0.9375rem;
  font-weight: normal;
  opacity: 0.3;
}
[data-breadcrumb] h1 a + span, [data-breadcrumb] h2 a + span, [data-breadcrumb] h3 a + span {
  color: #18453B;
}

article.container {
  position: relative;
  z-index: 1;
  padding-top: 3.125rem;
}
[data-topbar] + [data-header] + [data-error] + article.container {
  padding-top: 5.125rem;
}

[data-spynav] {
  position: fixed;
  top: 3.125rem;
  left: 0;
  width: 2rem;
  height: calc(100vh - 3.125rem);
  overflow: hidden;
  background-color: #f6f7f6;
  box-shadow: -0.125rem 0 0.125rem 0 rgba(0, 0, 0, 0.05) inset;
}
[data-topbar] + [data-header] + [data-error] + article.container [data-spynav] {
  top: 5.125rem;
  height: calc(100vh - 5.125rem);
}
[data-spynav] a {
  margin-top: 0.1vh;
  margin-bottom: 0.1vh;
  padding: 0.3125rem 0.5rem;
  font-family: "Gotham", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}

dl dt {
  border-bottom: solid 0.0625rem #b6b6b6;
}
dl dt a {
  color: #4e4e4e;
}
dl dt a:hover, dl dt a:focus {
  color: #0DB14B;
}
dl:last-of-type dt:last-of-type {
  border-bottom-width: 0;
}

[data-bs-spy] {
  overflow-y: scroll;
  max-height: calc(100% - 8rem);
}

[data-bs-spy],
article.container {
  height: 100%;
}

[data-world] {
  background-image: url(/images/background-lg.jpg?c253cdcf23d879dad105371fb65fc326);
  overflow: hidden;
}

/*# sourceMappingURL=cms.css.map*/