/**
 * Functions
 */
@font-face {
  font-family: "Gotham";
  src: url(/fonts/gotham400i.woff2?5148f01d4d648a6c1fa5de17355264a3) format("woff2"), url(/fonts/gotham400i.woff?cf1dc6c7850b919ce0b221add070f923) format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url(/fonts/gotham400.woff2?d2b1aa166f90cb23dd7a509c39c15568) format("woff2"), url(/fonts/gotham400.woff?fdff8215f8586e3e0643f9062b724096) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url(/fonts/gotham300i.woff2?75808f501f6c6062e33a15379f2c7ad1) format("woff2"), url(/fonts/gotham300i.woff?328a5e6f37014fefe1acd7145ff203d5) format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url(/fonts/gotham300.woff2?975360b291cb9370f526fbbddf38f4e9) format("woff2"), url(/fonts/gotham300.woff?6244961dfa141347596cce177bdcb93b) format("woff");
  font-weight: normal;
  font-style: normal;
}
.gotham {
  font-family: "Gotham", Helvetica, Arial, sans-serif;
}

/* Yellows */
/* Blues */
/* Greens */
/* Blue/Greens */
/* Reds */
/* Purples */
/* Grey */
/* Theme */
/* UI */
/*
** MSU DOM Objects
*/
/* Components */
/*
** Bootstrap Overides/Variables
** If you wanna changes how things look, do it here.
*/
[data-navigation] {
  position: fixed;
  z-index: 10;
  top: auto;
  left: 0;
  bottom: 6.375rem;
  min-height: 3.125rem;
}
[data-navigation] a, [data-navigation] span {
  border-left: solid 1px #4e4e4e;
  color: #18453B;
}
[data-navigation] a:first-child, [data-navigation] span:first-child {
  border-left: none;
}
[data-navigation] a {
  min-width: 8.5rem;
}
[data-navigation] a:nth-child(2) {
  min-width: 30vw;
}
[data-navigation] span:nth-child(3) {
  min-width: 52vw;
}
[data-navigation] [data-subnavigation] {
  min-width: 25rem;
  bottom: 0;
  height: auto;
  max-height: 9.625rem;
  left: 100%;
}
[data-navigation] [data-subnavigation] > [id*=navigation__] {
  overflow: hidden;
}
[data-navigation] [data-subnavigation] .btn-list-item {
  border-radius: 0;
  line-height: 1.675;
}
[data-navigation] [data-subnavigation] .btn-list-item:not(:first-child) {
  margin-top: 0.125rem;
}
[data-navigation] [data-panel] {
  left: 0;
  width: 100%;
  bottom: 3.125rem;
  max-height: calc(100vh - 12.625rem);
  overflow: hidden;
  overflow-y: auto;
}
[data-navigation] [data-qr] h3, [data-navigation] [data-qr] h4, [data-navigation] [data-qr] h5, [data-navigation] [data-qr] h6 {
  font-size: 0.8125rem;
  text-transform: none;
  max-width: 23.5rem;
}
[data-navigation] [data-qr] input {
  font-size: 0.625rem;
}
[data-navigation] .ant-table-tbody > tr {
  background-color: transparent;
}
[data-navigation] .ant-table-tbody > tr > td,
[data-navigation] .ant-table-content .ant-table-thead > tr > th {
  padding-left: calc(1.25rem * 1.5);
  padding-right: calc(1.25rem * 1.5);
  border-right: none;
  border-left: none;
  pointer-events: none;
}
[data-navigation] .ant-table-content .ant-table-thead > tr > th {
  /*font-size: $h3-font-size;*/
  background: #18453B;
}
[data-navigation] .ant-table-tbody > tr > td {
  /*font-size: $h4-font-size;*/
  font-weight: normal;
  text-transform: none;
  color: white;
  background-color: transparent;
}
[data-navigation] .ant-slider:hover .ant-slider-rail,
[data-navigation] .ant-slider:hover .ant-slider-track {
  background-color: transparent;
}
[data-navigation] .ant-slider-rail,
[data-navigation] .ant-slider-track {
  background-color: transparent;
}
[data-navigation] .slick-slider[dir] .slick-slide {
  transform: scale(0.6) translateX(60%);
  opacity: 0;
  pointer-events: none;
}
[data-navigation] .slick-slider[dir] .slick-slide.slick-current {
  opacity: 1;
  pointer-events: all;
}
[data-navigation] .slick-slider[dir] .slick-slide.slick-current + .slick-slide {
  position: relative;
  z-index: 1;
  transform: scale(1);
  pointer-events: all;
  opacity: 1;
  border-width: calc(0.25rem * 0.6);
}
[data-navigation] .slick-slider[dir] .slick-slide.slick-current + .slick-slide + .slick-slide {
  opacity: 1;
  transform: scale(0.6) translateX(-60%);
  pointer-events: all;
}
[data-navigation] .slick-slide {
  height: 9.0625rem;
  overflow: hidden;
  padding: 0;
  border: solid 0.25rem white;
  border-radius: 0;
  background-color: white;
  transform: scale(0.9375);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
[data-navigation] .slick-slide div {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}
[data-navigation] .slick-slide div .icon {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
  color: white;
  pointer-events: none;
}
[data-navigation] .slick-slide picture {
  height: 100%;
}
[data-navigation] .slick-slide picture [data-backgrounder] {
  height: 100%;
}
[data-navigation] .slick-slide img {
  visibility: hidden;
  height: 16.25rem;
}
[data-navigation] .slick-slide video {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
[data-navigation] .slick-slide video[placeholder] {
  opacity: 0;
}
[data-navigation] .slick-list {
  overflow: visible;
}
[data-navigation] .slick-slider:not([dir]) .slick-cloned {
  display: none;
}
[data-navigation] .slick-slider .slick-prev,
[data-navigation] .slick-slider .slick-next {
  position: absolute;
  top: 100%;
  width: auto;
  min-width: 1rem;
  height: auto;
  min-height: 1.25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: transparent;
}
[data-navigation] .slick-slider .slick-prev:before,
[data-navigation] .slick-slider .slick-next:before {
  content: unset;
}
[data-navigation] .slick-prev {
  left: calc(50% - 2rem);
}
[data-navigation] .slick-next {
  right: calc(50% - 2rem);
}

.ant-table-content .ant-table-thead > tr > th {
  font-size: 1.375rem;
}

.ant-table-tbody > tr > td:first-child {
  border-left: none;
}

[data-world] {
  margin: 3.125rem auto 6.375rem auto;
  overflow: hidden;
}
[data-topbar] + [data-header] + article [data-world] {
  margin-top: 5.125rem;
}
[data-world]:before, [data-world]:after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}
[data-world]:after {
  width: 85vh;
  padding-top: 8.25rem;
  padding-bottom: 12.5rem;
  background-image: url(/images/foreground.png?977161f6d6fcbeff01d6432cd63682e0);
  background-size: 100% auto;
  background-position: bottom right;
}
[data-world]:before {
  width: 100vw;
  background-image: url(/images/background-lg.jpg?c253cdcf23d879dad105371fb65fc326);
}
[data-world] [data-map] {
  /*    max-width: 80%;*/
  z-index: 1;
  margin-left: 0;
}

[data-topbar] + [data-header] + [data-error] {
  top: 5.125rem;
}

[data-error] {
  top: 3.125rem;
  bottom: unset;
}

@media only screen and (max-width: 80em) {
  html {
    font-size: 85%;
  }
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 55%;
  }
}
