html[data-screen]{

  @include screen-xl {
    font-size: 50%;
  }

  .ant-table-tbody > tr > td:first-child {
    border-left: none;
  }

  .slick-next,
  .slick-prev {
    &:before {
      content: unset;
    }
  }

  [data-world] {
    margin: #{rem-calc(132)} auto #{rem-calc(198)} auto;
    overflow: hidden;
    &:before,
    &:after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;
    }

    &:after {
      width: 50vw;
      padding-top: 8.25rem;
      padding-bottom: 12.5rem;
      background-image: url(../../../images/foreground.png);
    }

    &:before {
      width: 100vw;
      background-image: url(../../../images/background-lg.jpg);
    }

    [data-map] {
      max-width: 80%;
      margin-left: 0;
    }
  }

  [data-header] {
    min-height: rem-calc(132);

    .h3 {
      font-size: calc(1.235rem + 0.9vw);
    }

    .navbar-brand {
      svg {
        height: rem-calc(100);
        font-size: rem-calc(100);
      }
    }
  }

  [data-error] {
    top: rem-calc(132);
    bottom: unset;
  }
}