.switch {
  position: relative;
  display: flex;
  
  &.live input {
    &:checked {
      background-color: $primary;
    }
    
    &:focus {
      &:before {
        box-shadow: 0 #{rem-calc(2)} #{rem-calc(2)} rgba(0,0,0,0.24),
                    0 0 #{rem-calc(4)} #{rem-calc(2)} $primary;
      }
    }
  }
  
  &.integration input {
    &:checked {
      background-color: $teal;
    }

    &:focus {
      &:before {
        box-shadow: 0 #{rem-calc(2)} #{rem-calc(2)} rgba(0,0,0,0.24),
                    0 0 #{rem-calc(4)} #{rem-calc(2)} $teal;
      }
    }
  }
  
  &.studio input {
    &:checked {
      background-color: $secondary;
    }
    
    &:focus {
      &:before {
        box-shadow: 0 #{rem-calc(2)} #{rem-calc(2)} rgba($black,0.24),
                    0 0 #{rem-calc(4)} #{rem-calc(2)} $secondary;
      }
    }
  }
  
  &.retail input {
    &:checked {
      background-color: $green;
    }
    
    &:focus {
      &:before {
        box-shadow: 0 #{rem-calc(2)} #{rem-calc(2)} rgba(0,0,0,0.24),
                    0 0 #{rem-calc(4)} #{rem-calc(2)} $green;
      }
    }
  }

  input { 
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: rem-calc(36);
    height: rem-calc(16);
    background-color: $body-color;
    -webkit-appearance: none;

    &:checked {
      background-color: $primary;
    }
    
    &:focus {
      outline: none;
      &:before {
        box-shadow: 0 #{rem-calc(2)} #{rem-calc(2)} rgba($black,0.24);
      }
    }
    
    &:checked:before {
      transform: translateX(#{rem-calc(24)});
    }
    
    &:before {
      position: absolute;
      content: "";
      height: rem-calc(24);
      width: rem-calc(24);
      left: rem-calc(-4);
      bottom: rem-calc(-4);
      background-color: $white;
      box-shadow: 0 #{rem-calc(2)} #{rem-calc(2)} rgba(0,0,0,0.24);
    }

    &.badge-pill {
      &:before {
        border-radius: 50%;
      }
    }
  }

  .label {
    display: inline-flex;
    text-indent: rem-calc(48);
  }
}