[data-sidebar] {
    width: rem-calc(200);
    right: 0;
    z-index: 100;
    position: fixed;
    background-color: $tertiary;
    &.collapsing, 
    &.show {
        & ~ * {
            max-width: calc(100% - #{rem-calc(200)});
        }
    }
}